@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Poly');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

$font-title: 'Lobster', serif;
$font-body: 'Poly', 'Georgia', serif;

$color-hero-background: #eeff41;
$color-hero: rgb(0, 107, 119);
$color-what-background: $color-hero;
$color-what: $color-hero-background;

body { scroll-behavior: smooth; }
strong { font-weight: bold; }

.hero {
  background-color: $color-hero-background;
  min-height: 100vh;
}

.hero-title {
  color: $color-hero;
  font-family: $font-title;
  font-size: 68px;
  text-align: center;
  padding-top: 40vh;
  padding-bottom: 20px;
}

.hero-subtitle {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: $color-hero;
  text-align: center;
  padding-bottom: 20px;
}

.hero-downarrow {
  a {
    color: $color-hero;
    text-decoration: none;
    &:hover {
      color: darken($color-hero, 5%);
    }
  }
  font-family: $font-title;
  font-size: 48px;
  text-align: center;
  margin: 0;
  padding: 0;
}

#what {
  background-color: $color-what-background;
  color: $color-what;
  font-family: $font-body;
  font-size: 28px;
  min-height: 100vh;
  line-height: 1.2;
}

a {
  color: $color-what;
}


.what-point, .cta-section {
  padding: 5% 0;
  width: 350px;
  margin: 0 auto;
  border-bottom: 3px solid darken($color-what-background, 1.5%);
}

.what-point:last-child{
  border: none;
}

.what-point-line {
  text-align: center;
  padding: 12px 0;
}

.what-point-line--last {
  text-align: center;
  padding: 12px;
}

.footer-section {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  background: darken($color-what-background, 3%);
  color: lighten($color-what-background, 15%);
  font-weight: normal;
  text-align: center;
  padding: 20px 0 40px 0;
}

.cta {
  width: 100%;
  background: darken($color-what-background, 1.5%);
}

.cta-section {
  font-family: 'verdana', sans-serif;
  color: lighten($color-what-background, 15%);
  text-align: left;
  width: 300px;
}
.cta-input {
  font-family: 'Fjalla One', sans-serif;
  padding: 12px 0;
}

label {
  display: block;
  margin-bottom: 4px;
}

label, input[type=submit] {
  font-family: 'Fjalla One', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
}

input, textarea {
  padding: 12px;
  display: block;
  font-size: 22px;
  width: 275px;
  margin: 0;
  border-radius: 0;
  border: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

input[type=submit] {
  background-color: lighten($color-what-background, 15%);
  font-weight: bold;
  border: none;
  color: darken($color-what-background, 5%);
  width: 300px;
  margin: 0 auto;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  &:hover {
    background-color: lighten($color-what-background, 20%);
    cursor: pointer;
  }
}

@media (max-width: 400px) {
  #what {
    font-size: 26px;
  }
  .what-point {
    width: 330px;
  }
}
