@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Cambria');

$font-title: 'Lobster', serif;
$font-body: 'Cambra', serif;

$color-hero-background: #eeff41;
$color-hero: rgb(0, 107, 119);
$color-what-background: $color-hero;
$color-what: $color-hero-background;

body { scroll-behavior: smooth; }
strong { font-weight: bold; }

.hero {
  background-color: $color-hero-background;
  min-height: 100vh;
}

.hero-title {
  color: $color-hero;
  font-family: $font-title;
  font-size: 68px;
  text-align: center;
  padding-top: 40vh;
  padding-bottom: 20px;
}

.hero-downarrow {
  a {
    color: $color-hero;
    text-decoration: none;
  }
  font-family: $font-title;
  font-size: 68px;
  text-align: center;
  margin: 0;
  padding: 0;
}

#what {
  background-color: $color-what-background;
  color: $color-what;
  font-family: $font-body;
  font-size: 28px;
  min-height: 100vh;
}

.what-point {
  padding: 5% 0;
  width: 60%;
  max-width: 500px;
  margin: 0 auto;
  border-bottom: 3px solid darken($color-what-background, 1.5%);

  &:last-child {
    border: none;
  }
}

.what-point-line {
  text-align: center;
  padding: 12px 0;
}

.footer-section {
  font-family: verdana;
  font-size: 12px;
  background: darken($color-what-background, 1.5%);
  color: darken($color-what-background, 10%);
  font-weight: normal;
  text-align: center;
  padding: 40px 0;
}
